* {
  box-sizing: border-box;
  max-width: 100%;
}

body{
    background-color: rgb(196, 222, 243);
    overflow-x: hidden;
    overflow-y: auto;
}
.game-item,
.game-item-nolink {
  border: 2px solid #ffffff;
  padding: 20px;
  border-radius: 12px;
  height: 400px;
  overflow: hidden;
}

.game-item img,
.game-item-nolink img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.game-item-nolink img {
  opacity: 0.5; 
}


.grid-games {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  grid-auto-rows: 400px;
}

