html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#hud {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#hud h1 {
  font-size: 32px;
  margin: 0;
}

#hud p {
  font-size: 24px;
  margin: 0;
}


#hud.hidden {
  display: none;
}


body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#game {
  position: relative;
  width: 100%;
  height: 100vh;  
  overflow: hidden;
}


#sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 70%;
  background: url("../image/sky.png") repeat-x;
  background-size: contain;
  animation: moveSky 40s linear infinite;
}

#grass {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 30%;
  background: url("../image/grass.png") repeat-x;
  animation: moveGrass 10s linear infinite;
  background-size: contain;
}


#player {
  position: absolute;
  bottom: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  background: url("../image/run.png") no-repeat;
  background-size: contain;
}


@keyframes moveSky {
  to { transform: translateX(-50%); }
}

@keyframes moveGrass {
  to { transform: translateX(-50%); }
}

@keyframes moveObstacle {
  to { right: 100%; }
}


#sky, #grass {
  animation-play-state: paused;
}

.running #sky {
  animation: moveSky 40s linear infinite;
  animation-play-state: running;
}

.running #grass {
  animation: moveGrass 10s linear infinite;
  animation-play-state: running;
}
.obstacle {
  position: absolute;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;

  z-index: 3; 
}/* ❤️ Lives */
#lives {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.heart {
  font-size: 28px;
  margin-left: 5px;
  transition: opacity 0.4s;
}

.heart.lost {
  opacity: 0.3;
}

#game-over {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

#game-over.hidden {
  display: none;
}

.game-over-box {
  background: white;
  padding: 30px 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.game-over-box h2 {
  margin-top: 0;
  font-size: 32px;
}

.game-over-box button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: crimson;
  color: white;
}

